<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>404 Error</title>
    </head>
    <body>
        <div class="mainContent">
         {{>header}}
         <p> {{ errorMessage }} </p>
        </div>
        {{>footer}}
    </body>
</html>