<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/style.css">
         <title>Help Page</title>
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
        </div>        
        {{>footer}}
    </body>
</html>